<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.loanemi.calculator.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoanSmart"
        tools:targetApi="31">
        <activity
            android:name="com.loanemi.calculator.Activities.HomeLoanResultActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.RdCalculatorResultActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.StudentLoanRsultActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.FdCalculatorResultActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.BusinessLoanResultActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.AutoLoanResultActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.CurrencyUnitActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.Tools.AgeCalculationActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.Tools.ExchangeRateActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.Tools.TemperatureConverterActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.Tools.SpeedConverterActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.Tools.WeightConverterActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.Tools.LengthConverterActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.RdCalculatorActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.introflow.GetStartActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.introflow.AllScreenIntro"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.language.LanguageActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.FdCalculatorActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.CashCalculatorActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.StudentLoanActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.HomeLoanActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.AutoLoanActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.BusinessLoanActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.Activities.PersonalLoanActivity"
            android:exported="false" />
        <activity
            android:name="com.loanemi.calculator.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.loanemi.calculator.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>