<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".Activities.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoanSmart"
        tools:targetApi="31">

        <activity android:name=".Activities.Activities.AutoLoanResultActivity"
            android:exported="false"/>
        <activity
            android:name=".Activities.Activities.CurrencyUnitActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.Tools.AgeCalculationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.Tools.ExchangeRateActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.Tools.TemperatureConverterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.Tools.SpeedConverterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.Tools.WeightConverterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.Tools.LengthConverterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.RdCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.introflow.GetStartActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.introflow.AllScreenIntro"
            android:exported="false" />
        <activity
            android:name=".Activities.language.LanguageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.FdCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.CashCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.StudentLoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.HomeLoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.AutoLoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.BusinessLoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Activities.PersonalLoanActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>